# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 25.1.1
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
absl-py=2.1.0=pypi_0
aiohappyeyeballs=2.4.6=pypi_0
aiohttp=3.11.12=pypi_0
aiohttp-retry=2.9.1=pypi_0
aiosignal=1.3.2=pypi_0
alembic=1.14.1=pypi_0
amqp=5.3.1=pypi_0
annotated-types=0.7.0=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
appdirs=1.4.4=pypi_0
astroalign=2.6.1=pypi_0
astrometry=4.1.2=pypi_0
astropy=7.0.1=pypi_0
astropy-iers-data=0.2025.2.17.0.34.13=pypi_0
asttokens=3.0.0=pyhd8ed1ab_1
astunparse=1.6.3=pypi_0
asyncssh=2.19.0=pypi_0
atpublic=5.1=pypi_0
attrs=25.1.0=pypi_0
backcall=0.2.0=pypi_0
bcrypt=4.2.1=pypi_0
beautifulsoup4=4.13.3=pypi_0
billiard=4.2.1=pypi_0
bleach=6.2.0=pypi_0
blinker=1.9.0=pypi_0
brotli=1.1.0=hb9d3cd8_2
brotli-bin=1.1.0=hb9d3cd8_2
bzip2=1.0.8=h5eee18b_6
ca-certificates=2025.1.31=hbcca054_0
cachetools=5.5.2=pypi_0
celery=5.4.0=pypi_0
certifi=2025.1.31=pypi_0
cffi=1.17.1=pypi_0
charset-normalizer=3.4.1=pypi_0
click=8.1.8=pypi_0
click-didyoumean=0.3.1=pypi_0
click-plugins=1.1.1=pypi_0
click-repl=0.3.0=pypi_0
cloudpickle=3.1.1=pypi_0
colorama=0.4.6=pypi_0
comm=0.2.2=pyhd8ed1ab_1
configobj=5.0.9=pypi_0
contourpy=1.3.1=py312h68727a3_0
cryptography=44.0.0=pypi_0
cuda-cccl_linux-64=12.8.55=ha770c72_0
cuda-cudart-dev_linux-64=12.8.57=h3f2d84a_0
cuda-cudart-static_linux-64=12.8.57=h3f2d84a_0
cuda-cudart_linux-64=12.8.57=h3f2d84a_0
cuda-nvrtc=12.8.61=hbd13f7d_0
cuda-version=12.8=h5d125a7_3
cudnn=9.3.0.75=h62a6f1c_2
cupy=13.3.0=py312h7d319b9_2
cupy-core=13.3.0=py312h1acd1a8_2
cycler=0.12.1=pyhd8ed1ab_1
databricks-sdk=0.44.1=pypi_0
debugpy=1.8.12=py312h2ec8cdc_0
decorator=5.1.1=pyhd8ed1ab_1
defusedxml=0.7.1=pypi_0
deprecated=1.2.18=pypi_0
dictdiffer=0.9.0=pypi_0
diskcache=5.6.3=pypi_0
distro=1.9.0=pypi_0
docker=7.1.0=pypi_0
docopt=0.6.2=pypi_0
dpath=2.2.0=pypi_0
dulwich=0.22.7=pypi_0
dvc=3.59.0=pypi_0
dvc-data=3.16.9=pypi_0
dvc-http=2.32.0=pypi_0
dvc-objects=5.1.0=pypi_0
dvc-render=1.0.2=pypi_0
dvc-ssh=4.2.1=pypi_0
dvc-studio-client=0.21.0=pypi_0
dvc-task=0.40.2=pypi_0
dvclive=3.48.2=pypi_0
entrypoints=0.4=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_1
executing=2.1.0=pyhd8ed1ab_1
expat=2.6.4=h6a678d5_0
fastjsonschema=2.21.1=pypi_0
fastrlock=0.8.3=py312h6edf5ed_1
filelock=3.17.0=pypi_0
flask=3.1.0=pypi_0
flatbuffers=25.1.24=pypi_0
flatten-dict=0.4.2=pypi_0
flufl-lock=8.1.0=pypi_0
fonttools=4.56.0=py312h178313f_0
freetype=2.12.1=h267a509_2
frozenlist=1.5.0=pypi_0
fsspec=2025.2.0=pypi_0
funcy=2.0=pypi_0
gast=0.6.0=pypi_0
gitdb=4.0.12=pypi_0
gitpython=3.1.44=pypi_0
google-auth=2.38.0=pypi_0
google-pasta=0.2.0=pypi_0
grandalf=0.8=pypi_0
graphene=3.4.3=pypi_0
graphql-core=3.2.6=pypi_0
graphql-relay=3.2.0=pypi_0
greenlet=3.1.1=pypi_0
grpcio=1.70.0=pypi_0
gto=1.7.2=pypi_0
gunicorn=23.0.0=pypi_0
h5py=3.12.1=pypi_0
hydra-core=1.3.2=pypi_0
idna=3.10=pypi_0
imagecodecs-lite=2019.12.3=py312h085067d_8
imageio=2.37.0=pypi_0
imglyb=2.1.0=pyhecae5ae_1
importlib-metadata=8.5.0=pypi_0
ipykernel=6.29.5=pyh3099207_0
ipython=8.12.3=pypi_0
iterative-telemetry=0.0.9=pypi_0
itsdangerous=2.2.0=pypi_0
jedi=0.19.2=pyhd8ed1ab_1
jgo=1.0.6=pyhd8ed1ab_1
jinja2=3.1.5=pypi_0
joblib=1.4.2=pypi_0
jpype1=1.5.2=py312h68727a3_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_1
jupyter_core=5.7.2=pyh31011fe_1
jupyterlab-pygments=0.3.0=pypi_0
keras=3.8.0=pypi_0
kiwisolver=1.4.8=py312h84d6215_0
kombu=5.4.2=pypi_0
krb5=1.21.3=h143b758_0
labeling=0.1.14=pyhd8ed1ab_1
lazy-loader=0.4=pypi_0
lcms2=2.17=h717163a_0
ld_impl_linux-64=2.40=h12ee557_0
lerc=4.0.0=h6a678d5_0
libblas=3.9.0=28_h59b9bed_openblas
libbrotlicommon=1.1.0=hb9d3cd8_2
libbrotlidec=1.1.0=hb9d3cd8_2
libbrotlienc=1.1.0=hb9d3cd8_2
libcblas=3.9.0=28_he106b2a_openblas
libclang=18.1.1=pypi_0
libcublas=12.8.3.14=h9ab20c4_0
libcufft=11.3.3.41=hbd13f7d_0
libcurand=10.3.9.55=hbd13f7d_0
libcusolver=11.7.2.55=h9ab20c4_0
libcusparse=12.5.7.53=hbd13f7d_0
libdeflate=1.23=h4ddbbb0_0
libedit=3.1.20230828=h5eee18b_0
libexpat=2.6.4=h5888daf_0
libffi=3.4.4=h6a678d5_1
libgcc=14.2.0=h77fa898_1
libgcc-ng=14.2.0=h69a702a_1
libgfortran=14.2.0=h69a702a_1
libgfortran5=14.2.0=hd5240d6_1
libgomp=14.2.0=h77fa898_1
libjpeg-turbo=3.0.0=hd590300_1
liblapack=3.9.0=28_h7ac8fdf_openblas
liblzma=5.6.4=hb9d3cd8_0
libnsl=2.0.1=hd590300_0
libnvjitlink=12.8.61=hbd13f7d_0
libopenblas=0.3.28=pthreads_h94d23a6_1
libpng=1.6.47=h943b412_0
libsodium=1.0.20=h4ab18f5_0
libsqlite=3.45.2=h2797004_0
libstdcxx=14.2.0=hc0a3c3a_1
libstdcxx-ng=11.2.0=h1234567_1
libtiff=4.7.0=hd9ff511_3
libuuid=2.38.1=h0b41bf4_0
libwebp-base=1.5.0=h851e524_0
libxcb=1.17.0=h8a09558_0
libxcrypt=4.4.36=hd590300_1
libzlib=1.3.1=hb9d3cd8_2
mako=1.3.9=pypi_0
markdown=3.7=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=3.0.2=pypi_0
matplotlib-base=3.10.0=py312hd3ec401_0
matplotlib-inline=0.1.7=pyhd8ed1ab_1
maven=3.9.9=ha770c72_0
mdurl=0.1.2=pypi_0
mistune=3.1.2=pypi_0
ml-dtypes=0.4.1=pypi_0
mlflow=2.20.2=pypi_0
mlflow-skinny=2.20.2=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.1.0=pypi_0
munkres=1.1.4=pyh9f0ad1d_0
namex=0.0.8=pypi_0
nbclient=0.10.2=pypi_0
nbconvert=7.16.6=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=pyhd8ed1ab_1
networkx=3.4.2=pypi_0
numpy=2.0.2=pypi_0
nvidia-cublas-cu12=12.4.5.8=pypi_0
nvidia-cuda-cupti-cu12=12.4.127=pypi_0
nvidia-cuda-nvcc-cu12=12.5.82=pypi_0
nvidia-cuda-nvrtc-cu12=12.4.127=pypi_0
nvidia-cuda-runtime-cu12=12.4.127=pypi_0
nvidia-cudnn-cu12=9.1.0.70=pypi_0
nvidia-cufft-cu12=11.2.1.3=pypi_0
nvidia-curand-cu12=10.3.5.147=pypi_0
nvidia-cusolver-cu12=11.6.1.9=pypi_0
nvidia-cusparse-cu12=12.3.1.170=pypi_0
nvidia-cusparselt-cu12=0.6.2=pypi_0
nvidia-ml-py=12.570.86=pypi_0
nvidia-nccl-cu12=2.21.5=pypi_0
nvidia-nvjitlink-cu12=12.4.127=pypi_0
nvidia-nvtx-cu12=12.4.127=pypi_0
omegaconf=2.3.0=pypi_0
opencv-python=4.11.0.86=pypi_0
openjdk=11.0.1=h516909a_1016
openjpeg=2.5.3=h5fbd93e_0
openssl=3.4.1=h7b32b05_0
opentelemetry-api=1.30.0=pypi_0
opentelemetry-sdk=1.30.0=pypi_0
opentelemetry-semantic-conventions=0.51b0=pypi_0
opt-einsum=3.4.0=pypi_0
optree=0.14.0=pypi_0
orjson=3.10.15=pypi_0
packaging=24.2=pyhd8ed1ab_2
pandas=2.2.3=py312hf9745cd_1
pandocfilters=1.5.1=pypi_0
parso=0.8.4=pyhd8ed1ab_1
pathspec=0.12.1=pypi_0
pexpect=4.9.0=pyhd8ed1ab_1
photutils=2.2.0=pypi_0
pickleshare=0.7.5=pyhd8ed1ab_1004
pillow=11.1.0=py312h80c1187_0
pip=25.0=py312h06a4308_0
pipreqs=0.5.0=pypi_0
platformdirs=4.3.6=pyhd8ed1ab_1
prompt-toolkit=3.0.50=pyha770c72_0
propcache=0.2.1=pypi_0
protobuf=5.29.3=pypi_0
psutil=6.1.1=py312h66e93f0_0
pthread-stubs=0.4=hb9d3cd8_1002
ptyprocess=0.7.0=pyhd8ed1ab_1
pure_eval=0.2.3=pyhd8ed1ab_1
py-cpuinfo=9.0.0=pypi_0
pyarrow=18.1.0=pypi_0
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.1=pypi_0
pycparser=2.22=pypi_0
pydantic=2.10.6=pypi_0
pydantic-core=2.27.2=pypi_0
pydot=3.0.4=pypi_0
pyerfa=2.0.1.5=pypi_0
pygit2=1.17.0=pypi_0
pygments=2.19.1=pyhd8ed1ab_0
pygtrie=2.5.0=pypi_0
pyimagej=1.6.0=pyhd8ed1ab_0
pynvml=12.0.0=pypi_0
pyparsing=3.2.1=pyhd8ed1ab_0
pypng=0.20220715.0=pypi_0
python=3.12.2=hab00c5b_0_cpython
python-dateutil=2.9.0.post0=pyhff2d567_1
python-tzdata=2025.1=pyhd8ed1ab_0
python_abi=3.12=5_cp312
pytz=2024.1=pyhd8ed1ab_0
pyyaml=6.0.2=pypi_0
pyzmq=26.2.1=py312hbf22597_0
qhull=2020.2=h4bd325d_2
readline=8.2=h5eee18b_0
referencing=0.36.2=pypi_0
requests=2.32.3=pypi_0
rich=13.9.4=pypi_0
rpds-py=0.23.1=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.18.10=pypi_0
ruamel-yaml-clib=0.2.12=pypi_0
scikit-image=0.25.2=pypi_0
scikit-learn=1.6.1=pypi_0
scipy=1.15.2=py312ha707e6e_0
scmrepo=3.3.10=pypi_0
scyjava=1.10.2=pyhd8ed1ab_0
seaborn=0.13.2=pypi_0
semver=3.0.4=pypi_0
sep=1.4.1=pypi_0
sep-pjw=1.3.8=pypi_0
setuptools=75.8.0=py312h06a4308_0
shellingham=1.5.4=pypi_0
shortuuid=1.0.13=pypi_0
shtab=1.7.1=pypi_0
six=1.17.0=pyhd8ed1ab_0
smmap=5.0.2=pypi_0
soupsieve=2.6=pypi_0
sqlalchemy=2.0.38=pypi_0
sqlite=3.45.2=h2c6b66d_0
sqlparse=0.5.3=pypi_0
sqltrie=0.11.1=pypi_0
sshfs=2025.2.0=pypi_0
stack_data=0.6.3=pyhd8ed1ab_1
sympy=1.13.1=pypi_0
tabulate=0.9.0=pypi_0
tensorboard=2.18.0=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorflow=2.18.0=pypi_0
termcolor=2.5.0=pypi_0
threadpoolctl=3.5.0=pypi_0
tifffile=2025.2.18=pypi_0
tinycss2=1.4.0=pypi_0
tk=8.6.13=noxft_h4845f30_101
tomlkit=0.13.2=pypi_0
torch=2.6.0=pypi_0
torchvision=0.21.0=pypi_0
tornado=6.4.2=py312h66e93f0_0
tqdm=4.67.1=pypi_0
traitlets=5.14.3=pyhd8ed1ab_1
triton=3.2.0=pypi_0
typer=0.15.1=pypi_0
typing_extensions=4.12.2=pyha770c72_1
tzdata=2025a=h04d1e81_0
ultralytics=8.3.79=pypi_0
ultralytics-thop=2.0.14=pypi_0
unicodedata2=16.0.0=py312h66e93f0_0
urllib3=2.3.0=pypi_0
vine=5.1.0=pypi_0
voluptuous=0.15.2=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_1
webencodings=0.5.1=pypi_0
werkzeug=3.1.3=pypi_0
wheel=0.45.1=py312h06a4308_0
wrapt=1.17.2=pypi_0
xarray=2025.1.2=pyhd8ed1ab_0
xorg-libxau=1.0.12=hb9d3cd8_0
xorg-libxdmcp=1.1.5=hb9d3cd8_0
xz=5.4.6=h5eee18b_1
yarg=0.1.9=pypi_0
yarl=1.18.3=pypi_0
zc-lockfile=3.0.post1=pypi_0
zeromq=4.3.5=h3b0a872_7
zipp=3.21.0=pyhd8ed1ab_1
zlib=1.3.1=hb9d3cd8_2
zstd=1.5.7=hb8e6e7a_0
